<!DOCTYPE html>
<html>
<head>
    <title>Prendas Registradas</title>
</head>
<body>
    <h1>Listado de Prendas Registradas</h1>

    {% if prendas %}
        <ul>
            {% for prenda in prendas %}
                <li>ID: {{ prenda.id }} | {{ prenda.tipo }} - {{ prenda.marca }} - {{ prenda.talla }} - {{ prenda.color }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay prendas registradas.</p>
    {% endif %}

    <a href="{% url 'registrar_prenda' %}">Registrar otra prenda</a>
</body>
</html>

<br><a href="/">Volver al inicio</a>
